version: "3.9"

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik_nii
    command:
      - --api.insecure=true
      - --providers.docker
      - --entrypoints.web.address=:80
    ports:
      - "8081:80"
      - "8082:8080" # dashboard: http://localhost:8081
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: laravel_backend
    environment:
      PHP_MEMORY_LIMIT: 512M
    volumes:
      - ./backend:/var/www
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`nii.test`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
    networks:
      - appnet
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build: ./frontend
    container_name: nii_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`app.nii.test`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
